<div style="position: relative">
    <nz-tabset>
        <nz-tab nzTitle="资源配置" (nzClick)="typeChage('资源配置')">
          <resource-index></resource-index>
        </nz-tab>
        <nz-tab nzTitle="工作中心" (nzClick)="typeChage('工作中心')">
          <work-center></work-center>
        </nz-tab>
        <nz-tab nzTitle="资源组配置" (nzClick)="typeChage('资源组配置')">
            <resource-group></resource-group>
        </nz-tab>
        <nz-tab nzTitle="资源组分配" (nzClick)="typeChage('资源组分配')">
            <resource-group-assignment></resource-group-assignment>
        </nz-tab>
      </nz-tabset>
  </div>
   