<form nz-form   class="ant-advanced-search-form">
    <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="24">
            <nz-form-item nzFlex>
                <label>品牌名称:</label>
                <input nz-input placeholder="请输入品牌名称"  name="search.brand_name" nzSize="default" [(ngModel)]="search.brand_name">
            </nz-form-item>
        </div>
        
    </div>
    <div nz-row>
        <div nz-col [nzSpan]="24" style="text-align: center;">
            <button nz-button [nzType]="'primary'" (click)="searchSubmit()">搜索</button>
            <button nz-button (click)="resetForm()">清空</button>
        </div>
    </div>
</form>
<div class="base-table">
    <nz-table   
        #ajaxTable
        nzShowSizeChanger
        [nzFrontPagination]="false"
        [nzData]="dataSet"
        [nzLoading]="loading"
        [nzTotal]="total"
        [(nzPageIndex)]="pageIndex"
        [(nzPageSize)]="pageSize"
        (nzPageIndexChange)="searchData()"
        (nzPageSizeChange)="searchData(true)"
    > 
     <thead>
            <tr>
                <th>品牌编码</th>
                <th >品牌名称</th>
                <th>品牌缩写</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of ajaxTable.data" (click)="select(data)">
            <td>{{data.brand_code}}</td>
            <td>{{data.brand_name}}</td>
            <td>{{data.brand_short_name}}</td>
            </tr>
        </tbody>
    </nz-table>
</div>
 