<form nz-form   class="ant-advanced-search-form">
    <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="24">
            <nz-form-item nzFlex>
                <label>物料号:</label>
                <input nz-input placeholder="请输入物料号"  name="search.matl_name" nzSize="default" [(ngModel)]="search.matl_name">
            </nz-form-item>
        </div>
        
    </div>
    <div nz-row>
        <div nz-col [nzSpan]="24" style="text-align: center;">
            <button nz-button [nzType]="'primary'" (click)="searchSubmit()">搜索</button>
            <button nz-button (click)="resetForm()">清空</button>
        </div>
    </div>
</form>
<div class="base-table">
    <nz-table   
        #ajaxTable
        nzShowSizeChanger
        [nzFrontPagination]="false"
        [nzData]="dataSet"
        [nzLoading]="loading"
        [nzTotal]="total"
        [(nzPageIndex)]="pageNum"
        [(nzPageSize)]="count"
        (nzPageIndexChange)="searchData()"
        (nzPageSizeChange)="searchData(true)"
    > 
     <thead>
            <tr>
                <th>物料编号</th>
                <th>物料内容</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of ajaxTable.data" (click)="select(data)">
                <td>{{data.matl_id}}</td>
                <td>{{data.matl_name}}</td>
            </tr>
        </tbody>
    </nz-table>
</div>
 