<form nz-form class="ant-advanced-search-form">
  <div nz-row [nzGutter]="24">
    <div nz-col [nzSpan]="6"></div>
    <div nz-col [nzSpan]="6">
      <nz-form-item nzFlex>
        <label>BOMID:</label>
        <input nz-input placeholder="请输入BOMID" name="search.bom_id" nzSize="default" [(ngModel)]="search.bom_id">
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="6">
      <nz-form-item nzFlex>
        <label>组件描述:</label>
        <input nz-input placeholder="请输入组成描述" name="search.component_description" nzSize="default"
          [(ngModel)]="search.component_description">
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="6"></div>
  </div>
  <div nz-row>
    <div nz-col [nzSpan]="24" style="text-align: center;">
      <button nz-button [nzType]="'primary'" (click)="searchSubmit()">搜索</button>
      <button nz-button (click)="resetForm()">清空</button>
    </div>
  </div>
</form>
<div class="base-table">
  <div class="table-operations">
    <button nz-button [nzType]="'primary'" (click)="showAdd()">新增</button>
    <button nz-button [nzType]="'primary'" (click)="isImport=true">导入</button>
    <button nz-button [nzType]="'primary'" nz-popover nzTitle="导出类型" [nzContent]="contentTemplate"
      nzPlacement="bottomRight">导出</button>
  </div>
  <nz-table #ajaxTable nzShowSizeChanger [nzFrontPagination]="false" [nzData]="dataSet" [nzLoading]="loading"
    [nzTotal]="total" [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize" (nzPageIndexChange)="getList()"
    (nzPageSizeChange)="getList(true)">
    <thead>
      <tr>
        <th>ID</th>
        <th>BOMID</th>
        <th>顺序</th>
        <th>组件描述</th>
        <th>BOM组件类型</th>
        <th>有效期开始</th>
        <th>有效期结束</th>
        <th>基本数量</th>
        <th>单位描述</th>
        <th>ERP负载号</th>
        <th>ERP顺序</th>
        <th>创建时间</th>
        <th>更新时间</th>
        <th>更新人</th>
        <th style="width:160px">操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of ajaxTable.data">
        <td>{{data.id}}</td>
        <td>{{data.bom_id}}</td>
        <td>{{data.sequence}}</td>
        <td>{{data.matl_description}}</td>
        <td>{{data.bom_component_type}}</td>
        <td>{{data.valid_start}}</td>
        <td>{{data.valid_end}}</td>
        <td>{{data.quantity}}</td>
        <td>{{data.unit_description}}</td>
        <td>{{data.erp_change_number}}</td>
        <td>{{data.erp_sequence}}</td>
        <td>{{data.creation_date}}</td>
        <td>{{data.last_update}}</td>
        <td>{{data.account_name}}</td>
        <td>
          <button nz-button [nzType]="'primary'" (click)="showUpdate(data)">修改</button>
          <button nz-button [nzType]="'primary'" (click)="delete(data.id)">删除</button>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
<nz-modal [(nzVisible)]="isAdd" nzTitle="新增BOM组件" (nzOnCancel)="hideAdd()" (nzOnOk)="addSubmit()">
  <form nz-form class="ant-advanced-search-form">
    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="24">
        <nz-form-item nzFlex>
          <label>BOMID:</label>
          <nz-select name="add.bom_id" style="width: 100%;" placeholder="请输入BOMID" [(ngModel)]="add.bom_id">
            <nz-option *ngFor="let option of listBomIDOption" [nzLabel]="option.label" [nzValue]="option.keyvalue">
            </nz-option>
          </nz-select>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="24">
        <nz-form-item nzFlex>
          <label>顺序:</label>
          <input nz-input placeholder="请输入顺序" maxlength="50" name="add.sequence" nzSize="default"
            [(ngModel)]="add.sequence">
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="24">
          <nz-form-item nzFlex>
              <label>组件描述ID:</label>
              <input nz-input placeholder="请输入组件id" (click)='showAddBrandModule()' maxlength="50" name="add.matl_descriptionID" nzSize="default"
            [(ngModel)]="add.matl_descriptionID">
          </nz-form-item>
      </div>

      <div nz-col [nzSpan]="24">
        <nz-form-item nzFlex>
            <label>组件描述:</label>
            <input nz-input placeholder="请输入组件描述" maxlength="50" name="add.matl_description" nzSize="default"
          [(ngModel)]="add.matl_description">
        </nz-form-item>
    </div>

      <div nz-col [nzSpan]="24">
        <nz-form-item nzFlex>
          <label>BOM组件类型:</label>
          <input nz-input placeholder="请输入BOM组件类型" maxlength="10" name="add.bom_component_type" nzSize="default"
            [(ngModel)]="add.bom_component_type">
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="24">
          <nz-form-item nzFlex>
            <label style="width: 93px;">有效期:</label>
            <nz-range-picker  name="addValidDate"  [(ngModel)]="addValidDate" [nzFormat]="dateFormat"></nz-range-picker>
          </nz-form-item>
        </div>
      <div nz-col [nzSpan]="24">
        <nz-form-item nzFlex>
          <label>基本数量:</label>
          <input nz-input placeholder="请输入基本数量" maxlength="10" name="add.quantity" nzSize="default"
            [(ngModel)]="add.quantity">
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="24">
        <nz-form-item nzFlex>
          <label>单位描述:</label>
          <input nz-input placeholder="请输入单位描述" maxlength="10" name="add.unit_description" nzSize="default"
            [(ngModel)]="add.unit_description">
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="24">
        <nz-form-item nzFlex>
          <label>ERP负载号:</label>
          <input nz-input placeholder="请输入ERP负载号" maxlength="10" name="add.erp_change_number" nzSize="default"
            [(ngModel)]="add.erp_change_number">
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="24">
        <nz-form-item nzFlex>
          <label>ERP顺序:</label>
          <input nz-input placeholder="请输入ERP顺序" maxlength="10" name="add.erp_sequence" nzSize="default"
            [(ngModel)]="add.erp_sequence">
        </nz-form-item>
      </div>
    </div>
  </form>
</nz-modal>

<nz-modal [(nzVisible)]="isUpdate" nzTitle="更新BOM组件" (nzOnCancel)="hideUpdate()" (nzOnOk)="updateSubmit()">
  <form nz-form class="ant-advanced-search-form">
    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="24">
        <nz-form-item nzFlex>
          <label>BOMID:</label>
          <nz-select name="update.bom_id" style="width: 100%;" placeholder="请输入BOMID" [(ngModel)]="update.bom_id">
            <nz-option *ngFor="let option of listBomIDOption" [nzLabel]="option.label" [nzValue]="option.keyvalue">
            </nz-option>
          </nz-select>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="24">
        <nz-form-item nzFlex>
          <label>顺序:</label>
          <input nz-input placeholder="请输入顺序" maxlength="50" name="update.sequence" nzSize="default"
            [(ngModel)]="update.sequence">
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="24">
        <nz-form-item nzFlex>
            <label>组件描述ID:</label>
            <input nz-input placeholder="请输入组件id" (click)='showAddBrandModule()' maxlength="50" name="add.matl_descriptionID" nzSize="default"
          [(ngModel)]="update.matl_descriptionID">
        </nz-form-item>
    </div>

    <div nz-col [nzSpan]="24">
      <nz-form-item nzFlex>
          <label>组件描述:</label>
          <input nz-input placeholder="请输入组件描述" maxlength="50" name="add.matl_description" nzSize="default"
        [(ngModel)]="update.matl_description">
      </nz-form-item>
  </div>

      <div nz-col [nzSpan]="24">
        <nz-form-item nzFlex>
          <label>BOM组件类型:</label>
          <input nz-input placeholder="请输入BOM组件类型" maxlength="10" name="update.bom_component_type" nzSize="default"
            [(ngModel)]="update.bom_component_type">
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="24">
          <nz-form-item nzFlex>
            <label style="width: 93px;">有效期:</label>
            <nz-range-picker  name="validDate"  [(ngModel)]="validDate" [nzFormat]="dateFormat"></nz-range-picker>
          </nz-form-item>
        </div>
      <div nz-col [nzSpan]="24">
        <nz-form-item nzFlex>
          <label>基本数量:</label>
          <input nz-input placeholder="请输入基本数量" maxlength="10" name="update.quantity" nzSize="default"
            [(ngModel)]="update.quantity">
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="24">
        <nz-form-item nzFlex>
          <label>单位描述:</label>
          <input nz-input placeholder="请输入单位描述" maxlength="10" name="update.unit_description" nzSize="default"
            [(ngModel)]="update.unit_description">
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="24">
        <nz-form-item nzFlex>
          <label>ERP负载号:</label>
          <input nz-input placeholder="请输入ERP负载号" maxlength="10" name="update.erp_change_number" nzSize="default"
            [(ngModel)]="update.erp_change_number">
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="24">
        <nz-form-item nzFlex>
          <label>ERP顺序:</label>
          <input nz-input placeholder="请输入ERP顺序" maxlength="10" name="update.erp_sequence" nzSize="default"
            [(ngModel)]="update.erp_sequence">
        </nz-form-item>
      </div>
    </div>
  </form>
</nz-modal>

<nz-modal [nzVisible]="isImport" [nzFooter]="funTemplate" (nzOnCancel)="isImport=false">
  <form nz-form class="login-form">
    <div nz-row [nzGutter]="24">
      <nz-form-item nzFlex>
        <div nz-col [nzSpan]="24">
          <nz-upload *ngIf="isImport" [(nzFileList)]="fileList" [nzBeforeUpload]="beforeUpload">
            <button nz-button>
              <i nz-icon type="upload"></i><span>导入文件</span>
            </button>
          </nz-upload>
        </div>
      </nz-form-item>
      <div nz-col [nzSpan]="12">
        <nz-form-item nzFlex>
          <label class="lab-name">导入前清空目标数据:</label>
          <nz-switch name="import.is_empty" [(ngModel)]="import.is_empty"></nz-switch>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="12">
        <nz-form-item nzFlex>
          <label class="lab-name">导入时不更新语言包:</label>
          <nz-switch name="import.is_no_lang" (ngModelChange)="changeLang(false)" [(ngModel)]="import.is_no_lang">
          </nz-switch>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="12">
        <nz-form-item nzFlex>
          <label class="lab-name">导入全部数据:</label>
          <nz-switch name="import.is_all" (ngModelChange)="changeLang(false)" [(ngModel)]="import.is_all"></nz-switch>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="12">
        <nz-form-item nzFlex>
          <label class="lab-name">导入多语言数据:</label>
          <nz-switch name="import.is_lang" (ngModelChange)="changeLang(true)" [(ngModel)]="import.is_lang"></nz-switch>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="24" *ngIf="import.is_lang==true">
        <nz-form-item nzFlex>
          <label>语言:</label>
          <nz-select name="import.lang_id" style="width: 100%;" nzPlaceHolder="请选择语言" [(ngModel)]="import.lang_id">
            <nz-option *ngFor="let option of listLangOption" [nzLabel]="option.label" [nzValue]="option.value">
            </nz-option>
          </nz-select>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="24" *ngIf="import.is_lang==false">
        <nz-form-item nzFlex>
          <label>语言:</label>
          <nz-select disabled="disabled" name="import.lang_id" style="width: 100%;" nzPlaceHolder="请选择语言"
            [(ngModel)]="import.lang_id">
            <nz-option *ngFor="let option of listLangOption" [nzLabel]="option.label" [nzValue]="option.value">
            </nz-option>
          </nz-select>
        </nz-form-item>
      </div>
    </div>
  </form>
</nz-modal>

<nz-modal class="fun" [(nzVisible)]="isAddBrand" [nzMaskClosable]="false"  nzKeyboard="false"  nzWidth="800"   nzTitle="选择物料描述" (nzOnCancel)="hideAddBrandModule()" >
  <ModeBomCmp (change)="brandChange($event)"></ModeBomCmp>
</nz-modal>

<ng-template #contentTemplate>
  <div>
    <p><a href="/assets/excel/shift.xls">导出模板</a></p>
    <p><a href="{{export}}?type=1">导出样例模板</a></p>
    <p><a href="{{export}}?type=2">导出全部数据</a></p>
    <p><a href="{{export}}?type=3">导出语言配置表</a></p>
  </div>
</ng-template>

<ng-template #funTemplate>
  <button nz-button (click)="isImport=false">取消</button>
  <button nz-button [nzType]="'primary'" [nzLoading]="uploading" (click)="handleUpload()"
    [disabled]="fileList.length == 0" style="margin-top: 16px">
    {{ uploading ? 'Uploading' : '确定' }}
  </button>
</ng-template>
