
<!-- <div class="leftBox">
    <div class="head-img">
       <img src="assets/images/logotwo.png" alt="">
    </div>
    <span class="nav-span">导航</span>
    <ul class="fun-list">
        <li class="fun-box"  *ngFor="let data of moduleList" (click)="getModule(data)"  [ngClass]="{'fun-box-active':data.isOpen}">
            <div class="fun-box-content" >
                <div class="{{data.class_name}} imgSize"></div> 
                <span class="text">{{data.module_name}}</span>
            </div>
        </li>
    </ul>
</div> -->
