.ant-radio-group {
    width: 100%;
    text-align: center;
}
.ant-form-item-label label {
    display: inline-block;
    margin-bottom: 0rem !important;
    line-height: 25px;
}
.ant-form-item-control {
    margin-bottom: 0rem !important;
    line-height: 25px;
}

.ant-form-item-children {
    line-height: 25px !important;
   
}
.page-box {
    margin: 10px;
    height: 26px;
    position: relative;

    button {
        float: left;
        background: #1890ff;
        color: #fff;
        outline: none;
    }

    .page-next {
        float: right;
    }
    .ant-checkbox-wrapper {
        position: absolute;
        left: 50%;
        margin-left: -50px;
    
    }
}
.leftDiv{
    clear: both;
    text-align: left;
    label{
        float: left;
        width: 33%;
        font-size: 15px;
        color: #333;
        line-height: 40px;
        font-weight: bold;
    }
}
