<form nz-form   class="ant-advanced-search-form">
    <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="24">
            <nz-form-item nzFlex>
                <label>资源描述:</label>
                <input nz-input placeholder="请输入资源ID"  name="search.resource_description" nzSize="default" [(ngModel)]="search.resource_description">
            </nz-form-item>
        </div>
        
    </div>
    <div nz-row>
        <div nz-col [nzSpan]="24" style="text-align: center;">
            <button nz-button [nzType]="'primary'" (click)="searchSubmit()">搜索</button>
            <button nz-button (click)="resetForm()">清空</button>
        </div>
    </div>
</form>
<div class="base-table">
    <nz-table   
        #ajaxTable
        nzShowSizeChanger
        [nzFrontPagination]="false"
        [nzData]="dataSet"
        [nzLoading]="loading"
        [nzTotal]="total"
        [(nzPageIndex)]="pageNum"
        [(nzPageSize)]="count"
        (nzPageIndexChange)="searchresource()"
        (nzPageSizeChange)="searchresource(true)"
    > 
     <thead>
            <tr>
                <th>资源ID</th>
                <th>资源描述</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of ajaxTable.data" (click)="select(data)">
                <td>{{data.id}}</td>
                <td>{{data.resource_name}}</td>
            </tr>
        </tbody>
    </nz-table>
</div>
 