<form nz-form class="ant-advanced-search-form">
  <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="5">
          <nz-form-item nzFlex>
              <label>资源描述:</label>
              <input nz-input placeholder="请输入资源描述" name="search.resourceType" nzSize="default" [(ngModel)]="search.resourceType">
          </nz-form-item>
      </div>
      <div nz-col [nzSpan]="7">
          <nz-form-item nzFlex>
              <label>第一物料描述</label>
              <input nz-input placeholder="请输入第一物料描述" name="search.firstMatlDesc" nzSize="default" [(ngModel)]="search.firstMatlDesc">
          </nz-form-item>
      </div>
      <div nz-col [nzSpan]="7">
          <nz-form-item nzFlex>
              <label>第二物料描述</label>
              <input nz-input placeholder="请输入第二物料描述" name="search.secondMatlDesc" nzSize="default" [(ngModel)]="search.secondMatlDesc">
          </nz-form-item>
      </div>
      <div nz-col [nzSpan]="5">
          <nz-form-item nzFlex>
              <label>工厂代码</label>
              <nz-select  name="search.plantCode" (click)='chooseGonyi()' style="width: 100%;" nzPlaceHolder="请选择工厂代码" [(ngModel)]="search.plantCode">
                  <nz-option  *ngFor="let option of gongyi" [nzLabel]="option.keyvalue" [nzValue]="option.label">
                  </nz-option>
              </nz-select>
          </nz-form-item>
      </div>
  </div>
  <div nz-row>
      <div nz-col [nzSpan]="24" style="text-align: center;">
          <button nz-button [nzType]="'primary'" (click)="searchSubmit()">搜索</button>
          <button nz-button (click)="resetForm()">清空</button>
      </div>
  </div>
</form>
<div class="base-table">
  <div class="table-operations">
      <button nz-button [nzType]="'primary'" (click)="showAdd()">新增</button>
      <button nz-button [nzType]="'primary'" (click)="isImport=true">导入</button> 
      <!-- <button nz-button [nzType]="'primary'" nz-popover nzTitle="导出类型" [nzContent]="contentTemplate"  nzPlacement="bottomRight">导出</button> -->
  </div>
  <nz-table   
      #ajaxTable
          nzShowSizeChanger
          [nzFrontPagination]="false"
          [nzData]="dataSet"
          [nzLoading]="loading"
          [nzTotal]="total"
          [(nzPageIndex)]="pageIndex"
          [(nzPageSize)]="pageSize"
          (nzPageIndexChange)="getList()"
          (nzPageSizeChange)="getList(true)">
      <thead>
           <tr>
              <th style="width:80px;">工厂代码</th>
              <th style="width:80px;">资源类型</th>
              <th style="width:70px;">资源ID</th>
              <th style="width:80px;">资源描述</th>
              <th style="width:90px;">第一物料号</th>
              <th style="width:110px;">第一物料描述</th>
              <th style="width:90px;">第二物料号</th>
              <th style="width:110px;">第二物料描述</th>
              <th style="width:80px;">程序时间</th>
              <th style="width:110px;">时间单位描述</th>
              <th style="width:80px;">创建时间</th>
              <th style="width:80px;">更新时间</th>
              <th style="width:70px;">更新人</th>
              <th style="width:160px">操作</th>
          </tr>
      </thead>
      <tbody> 		

          <tr *ngFor="let data of ajaxTable.data">
              <td>{{data.plantCode}}</td>
              <td>{{data.resourceType}}</td>
              <td>{{data.resourceId}}</td>
              <td>{{data.resourceDesc}}</td>
              <td>{{data.firstMatlId}}</td>
              <td>{{data.firstMatlDesc}}</td>
              <td>{{data.secondMatlId}}</td>
              <td>{{data.secondMatlDesc}}</td>
              <td>{{data.setupTime}}</td>
              <td>{{data.unitDesc}} </td>
              <td>{{data.creationDate}}</td>
              <td>{{data.lastUpdate}}</td>
              <td>{{data.account_name}} </td>
              <td style="width: 160px;">
                  <button nz-button [nzType]="'primary'" (click)="showUpdate(data)">修改</button>
                  <button nz-button [nzType]="'primary'" (click)="delete(data.id)">删除</button>
              </td>
          </tr>
      </tbody>
  </nz-table>
</div>
  
<nz-modal [(nzVisible)]="isAdd" nzTitle="新增程序矩阵" (nzOnCancel)="hideAdd()" (nzOnOk)="addSubmit()">
  <form nz-form class="ant-advanced-search-form">
      <div nz-row [nzGutter]="24">
          <div nz-col [nzSpan]="24">
              <nz-form-item nzFlex>
                  <label>工厂代码:</label>
                  <nz-select  name="add.plantCode" (click)='chooseGonyi()' style="width: 100%;" nzPlaceHolder="请选择工厂代码" [(ngModel)]="add.plantCode">
                      <nz-option  *ngFor="let option of gongyi" [nzLabel]="option.keyvalue" [nzValue]="option.label">
                      </nz-option>
                  </nz-select>
               </nz-form-item>
          </div>
          <div nz-col [nzSpan]="24">
              <nz-form-item nzFlex>
                  <label>资源类型:</label>
                  <input nz-input placeholder="请输入资源类型"  maxlength="50" name="add.resourceType" nzSize="default" [(ngModel)]="add.resourceType ">
              </nz-form-item>
          </div>
          <div nz-col [nzSpan]="24">
              <nz-form-item nzFlex>
                  <label>资源ID:</label>
                  <input nz-input placeholder="资源ID" (click)='showAddBrandModule()' maxlength="10" name="add.resourceId" nzSize="default" [(ngModel)]="add.resourceId">
              </nz-form-item>
          </div>
          <div nz-col [nzSpan]="24">
              <nz-form-item nzFlex>
                  <label>资源描述:</label>
                  <input nz-input placeholder="资源描述" maxlength="10" name="add.resourceDesc" nzSize="default" [(ngModel)]="add.resourceDesc"  readonly>
              </nz-form-item>
          </div>
          <div nz-col [nzSpan]="24">
              <nz-form-item nzFlex>
                  <label>第一物料号:</label>
                  <input nz-input placeholder="第一物料号" (click)='showAddmatlName()' maxlength="10" name="add.firstMatlId" nzSize="default" [(ngModel)]="add.firstMatlId">
              </nz-form-item>
          </div>
          <div nz-col [nzSpan]="24">
              <nz-form-item nzFlex>
                  <label>第一物料描述:</label>
                  <input nz-input placeholder="第一物料描述"  name="add.firstMatlDesc" nzSize="default" [(ngModel)]="add.firstMatlDesc" readonly>
              </nz-form-item>
          </div>
          <div nz-col [nzSpan]="24">
              <nz-form-item nzFlex>
                  <label>第二物料号:</label>
                  <input nz-input placeholder="第二物料号" (click)='showaddMatlTwo()' maxlength="10" name="add.secondMatlId" nzSize="default" [(ngModel)]="add.secondMatlId">
              </nz-form-item>
          </div>
          <div nz-col [nzSpan]="24">
              <nz-form-item nzFlex>
                  <label>第二物料描述:</label>
                  <input nz-input placeholder="第二物料描述" maxlength="10" name="add.secondMatlDesc" nzSize="default" [(ngModel)]="add.secondMatlDesc" readonly>
              </nz-form-item>
          </div>
          <div nz-col [nzSpan]="24">
              <nz-form-item nzFlex>
                  <label>程序时间:</label>
                  <input nz-input placeholder="程序时间" maxlength="10" name="add.setupTime" nzSize="default" [(ngModel)]="add.setupTime">
              </nz-form-item>
          </div>
          <div nz-col [nzSpan]="24">
            <nz-form-item nzFlex>
                <label>时间单位描述:</label>
                <nz-select  name="add.unit_id" (click)='choosetimerDANWEi()' style="width: 100%;" nzPlaceHolder="请选择时间单位" [(ngModel)]="add.unit_id">
                    <nz-option  *ngFor="let option of danwei" [nzLabel]="option.unit_symbol" [nzValue]="option.unit_id"> </nz-option>
                </nz-select>
            </nz-form-item>
          </div>
      </div>  
  </form>
</nz-modal>

<nz-modal [(nzVisible)]="isUpdate" nzTitle="更新程序矩阵" (nzOnCancel)="hideUpdate()" (nzOnOk)="updateSubmit()">
  <form nz-form class="ant-advanced-search-form">
      <div nz-row [nzGutter]="24">
            <div nz-col [nzSpan]="24">
                <nz-form-item nzFlex>
                    <label>程序矩阵Id:</label>
                    <input nz-input placeholder="请输入程序矩阵Id"  maxlength="50" name="update.id" nzSize="default" [(ngModel)]="update.id ">
                    </nz-form-item>
            </div>
            <div nz-col [nzSpan]="24">
                <nz-form-item nzFlex>
                    <label>工厂代码:</label>
                    <nz-select  name="update.plantCode" (click)='chooseGonyi()' style="width: 100%;" nzPlaceHolder="请选择工厂代码" [(ngModel)]="update.plantCode">
                        <nz-option  *ngFor="let option of gongyi" [nzLabel]="option.keyvalue" [nzValue]="option.label">
                        </nz-option>
                    </nz-select>
                    </nz-form-item>
            </div>
            <div nz-col [nzSpan]="24">
                <nz-form-item nzFlex>
                    <label>资源类型:</label>
                    <input nz-input placeholder="请输入资源类型"  maxlength="50" name="update.resourceType" nzSize="default" [(ngModel)]="update.resourceType ">
                </nz-form-item>
            </div>
            <div nz-col [nzSpan]="24">
                <nz-form-item nzFlex>
                    <label>资源ID:</label>
                    <input nz-input placeholder="资源ID" maxlength="10" name="update.resourceId" nzSize="default" [(ngModel)]="update.resourceId">
                </nz-form-item>
            </div>
            <div nz-col [nzSpan]="24">
                <nz-form-item nzFlex>
                    <label>资源描述:</label>
                    <input nz-input placeholder="资源描述" maxlength="10" name="update.resourceDesc" nzSize="default" [(ngModel)]="update.resourceDesc">
                </nz-form-item>
            </div>
            <div nz-col [nzSpan]="24">
                <nz-form-item nzFlex>
                    <label>第一物料号:</label>
                    <input nz-input placeholder="第一物料号" maxlength="10" name="update.firstMatlId" nzSize="default" [(ngModel)]="update.firstMatlId">
                </nz-form-item>
            </div>
            <div nz-col [nzSpan]="24">
                <nz-form-item nzFlex>
                    <label>第一物料描述:</label>
                    <input nz-input placeholder="第一物料描述" maxlength="10" name="update.firstMatlDesc" nzSize="default" [(ngModel)]="update.firstMatlDesc">
                </nz-form-item>
            </div>
            <div nz-col [nzSpan]="24">
                <nz-form-item nzFlex>
                    <label>第二物料号:</label>
                    <input nz-input placeholder="第二物料号" maxlength="10" name="update.secondMatlId" nzSize="default" [(ngModel)]="update.secondMatlId">
                </nz-form-item>
            </div>
            <div nz-col [nzSpan]="24">
                <nz-form-item nzFlex>
                    <label>第二物料描述:</label>
                    <input nz-input placeholder="第二物料描述" maxlength="10" name="update.secondMatlDesc" nzSize="default" [(ngModel)]="update.secondMatlDesc">
                </nz-form-item>
            </div>
            <div nz-col [nzSpan]="24">
                <nz-form-item nzFlex>
                    <label>程序时间:</label>
                    <input nz-input placeholder="程序时间" maxlength="10" name="update.setupTime" nzSize="default" [(ngModel)]="update.setupTime">
                </nz-form-item>
            </div>
            <div nz-col [nzSpan]="24">
                <nz-form-item nzFlex>
                    <label>时间单位描述:</label>
                    <nz-select  name="update.unit_id" (click)='choosetimerDANWEi()' style="width: 100%;" nzPlaceHolder="请选择时间单位" [(ngModel)]="update.unit_id">
                        <nz-option  *ngFor="let option of danwei" [nzLabel]="option.unit_symbol" [nzValue]="option.unit_id"> </nz-option>
                    </nz-select>
                </nz-form-item>
            </div>
      </div>  
  </form>
</nz-modal>
  

<nz-modal class="fun" [(nzVisible)]="isAddBrand" [nzMaskClosable]="false"  nzKeyboard="false"  nzWidth="800"   nzTitle="选择资源" (nzOnCancel)="hideAddBrandModule()" >
  <mode-resourceList   (change)="brandChange($event)"></mode-resourceList>
</nz-modal>

<nz-modal class="fun" [(nzVisible)]="isAddMatlname" [nzMaskClosable]="false"  nzKeyboard="false"  nzWidth="800"   nzTitle="选择第一物料描述" (nzOnCancel)="hideAddmatlName()" >
  <mode-matlName   (change)="matlName($event)"></mode-matlName>
</nz-modal>

<nz-modal class="fun" [(nzVisible)]="isAddMatlTwo" [nzMaskClosable]="false"  nzKeyboard="false"  nzWidth="800"   nzTitle="选择第二物料描述" (nzOnCancel)="hideaddMatlTwo()" >
    <mode-matlNameTwo   (change)="matlNameTwo($event)"></mode-matlNameTwo>
</nz-modal>

<!-- <nz-modal [nzVisible]="isImport"   [nzFooter]="funTemplate" (nzOnCancel)="isImport=false">
  <form nz-form   class="login-form"    >
      <div nz-row [nzGutter]="24">
          <nz-form-item nzFlex  >
              <div nz-col [nzSpan]="24">
                      <nz-upload *ngIf="isImport"
                      [(nzFileList)]="fileList"
                      [nzBeforeUpload]="beforeUpload"> 
                      <button nz-button>
                      <i nz-icon type="upload"></i><span>导入文件</span>
                      </button>
                  </nz-upload>
              </div>
          </nz-form-item>
          <div nz-col [nzSpan]="12">
              <nz-form-item nzFlex  >
                  <label class="lab-name">导入前清空目标数据:</label>
                  <nz-switch name="import.is_empty" [(ngModel)]="import.is_empty" ></nz-switch>
              </nz-form-item>
          </div>
          <div nz-col [nzSpan]="12">
              <nz-form-item nzFlex  >
                  <label  class="lab-name">导入时不更新语言包:</label>
                  <nz-switch name="import.is_no_lang" (ngModelChange)="changeLang(false)" [(ngModel)]="import.is_no_lang"></nz-switch>
              </nz-form-item>
          </div>
          <div nz-col [nzSpan]="12">
              <nz-form-item nzFlex  >
                  <label  class="lab-name">导入全部数据:</label>
                  <nz-switch name="import.is_all" (ngModelChange)="changeLang(false)" [(ngModel)]="import.is_all"></nz-switch>
              </nz-form-item>
          </div>
          <div nz-col [nzSpan]="12">
              <nz-form-item nzFlex  >
                  <label  class="lab-name">导入多语言数据:</label>
                  <nz-switch name="import.is_lang"  (ngModelChange)="changeLang(true)" [(ngModel)]="import.is_lang"></nz-switch>
              </nz-form-item>
          </div> -->
          <!-- <div nz-col [nzSpan]="24" *ngIf="import.is_lang==true">
              <nz-form-item nzFlex>
                  <label>语言:</label>
                  <nz-select     name="import.lang_id"  style="width: 100%;" nzPlaceHolder="请选择语言" [(ngModel)]="import.lang_id">
                      <nz-option *ngFor="let option of listLangOption" [nzLabel]="option.label" [nzValue]="option.value">
                      </nz-option>
                  </nz-select>
              </nz-form-item>
          </div>
          <div nz-col [nzSpan]="24" *ngIf="import.is_lang==false">
              <nz-form-item nzFlex>
                  <label>语言:</label>
                  <nz-select   disabled="disabled"   name="import.lang_id"  style="width: 100%;" nzPlaceHolder="请选择语言" [(ngModel)]="import.lang_id">
                      <nz-option *ngFor="let option of listLangOption" [nzLabel]="option.label" [nzValue]="option.value">
                      </nz-option>
                  </nz-select>
              </nz-form-item>
          </div> -->
      <!-- </div>
  </form>
</nz-modal> -->

<!-- <ng-template #contentTemplate>
  <div>
      <p><a href="/assets/excel/matl.xls">导出模板</a></p>
      <p><a href="{{export}}?type=1">导出样例模板</a></p>
      <p><a href="{{export}}?type=2">导出全部数据</a></p>
      <p><a href="{{export}}?type=3">导出语言配置表</a></p>
  </div>
</ng-template>

<ng-template #funTemplate>
  <button nz-button (click)="isImport=false">取消</button>
  <button nz-button [nzType]="'primary'" [nzLoading]="uploading" (click)="handleUpload()" [disabled]="fileList.length == 0" style="margin-top: 16px">
      {{ uploading ? 'Uploading' : '确定' }}
  </button>
</ng-template> -->